/* Dynamik Styles */

/* reset css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; outline: 0;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* clearfix css */
.clearfix:after { visibility: hidden; display: block; height: 0; font-size: 0; line-height: 0; content: " "; clear: both; }
.clearfix { display: block; }
/* IE6 */
* html .clearfix { height: 1%; }
/* IE7 */
*:first-child + html .clearfix { min-height: 1%; }

/* HTML5 display rule */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

/************************* 
	Global Elements 
*************************/

/*** Frame ***/

body {
	background: #FAFAFA;
	margin: 0 auto;
	color: #111111;
	font-size: 14px;
	font-family: Arial, sans-serif;
	line-height: 23px;
	
	
}
#wrap {
	background: #FFFFFF;
	width: 960px;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	border-right: 1px solid #E8E8E8;
	margin: 20px auto 20px;
	padding: 0px 0px 0px 0px;
	clear: both;
	-webkit-box-shadow: 0px 5px 10px #DDDDDD;
	box-shadow: 0px 5px 10px #DDDDDD;
	
}

/*** Hyperlinks ***/

a, a:visited {
	color: #21759B;
	text-decoration: none;
}
a:hover {
	color: #D54E21;
	text-decoration: underline;
}
a img {
	border: none;
}

/*** Images/Alignment ***/

img.alignnone {
	margin: 0 0 10px 0 !important;
	display: inline;
}
img.alignleft {
	margin: 0 10px 10px 0 !important;
	display: inline;
}
img.centered, .aligncenter {
	margin: 0 auto 10px !important;
	display: block;
}
img.alignright {
	margin: 0 0 10px 10px !important;
	display: inline;
}
.alignleft {
	margin: 0 10px 0 0;
	float: left;
}
.alignright {
	margin: 0 0 0 10px;
	float: right;
}
.wp-caption {
	background: #FAFAFA;
	border: 1px solid #E8E8E8;
	padding: 10px 5px 0 5px;
	text-align: center;
}
.wp-caption p.wp-caption-text, .catalyst-excerpt-widget .wp-caption p.wp-caption-text {
	margin: 0;
	padding: 0 0 10px !important;
	color: #111111 !important;
	font-family: Arial, sans-serif !important;
	font-size: 12px !important;
	line-height: 120%;
	
}
.wp-post-image, #sidebar-1 .catalyst-excerpt-widget img, #sidebar-2 .catalyst-excerpt-widget img, #ez-home-sidebar-1 .catalyst-excerpt-widget img {
	background: #FAFAFA;
	border: 1px solid #E8E8E8;
	padding: 4px !important;
}
#sidebar-1 .catalyst-excerpt-widget img, #sidebar-2 .catalyst-excerpt-widget img, .ez-widget-area img.wp-post-image {
	margin-bottom: 0 !important;
}
img.wp-smiley, img.wp-wink {
	border: none;
	margin: 0;
	padding: 0;
	float: none;
}
img#wpstats {
    width: 0;
    height: 0;
    overflow: hidden;
	display: none;
}
.post-format-icon {
	background: none;
	margin: 0 0 0 10px;
	float: right;
	display: block;
}
.page .post-format-icon {
	display: none;
}
body.page-template-template-blog-php .post-format-icon {
	display: block;
}

/*** Search Form ***/

#header-right .widget_search {
	padding: 0;
	float: right;
}
.searchform {
	margin: 0;
	padding: 0;
	display: inline;
	overflow: hidden;
}
#sidebar-1 .searchform, #sidebar-2 .searchform {
	padding: 0 10px;
}
.s {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin: 10px 0;
	padding: 6px 0px 5px 6px;
	color: #AAAAAA;
	font-family: Arial, sans-serif;
	font-size: 12px;
	display: inline;
	
}
#header .s, #navbar-1 .s, #navbar-2 .s {
	margin: 0;
}
.s, #header .s, #sidebar-1 .s, #sidebar-2 .s {
	width: 130px;
}
.searchsubmit {
	background: #FAFAFA;
	border: 1px solid #E8E8E8;
	margin: 0;
	padding: 6px 6px 5px 6px;
	color: #888888;
	font-family: Arial, sans-serif;
	font-size: 12px;
	cursor: pointer;
	
}
.searchsubmit:hover {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
}

/*** Calendar ***/

#wp-calendar {
	margin: 0;
	padding: 0;
	width: 100%;
}
#wp-calendar caption {
	margin: 0;
	padding: 5px 0 0 0;
	color: #333333;
	font-size: 13px;
}
#wp-calendar th {
	color: #333333;
}
#wp-calendar td {
	margin: 0;
	padding: 2px;
	text-align: center;
}
#wp-calendar tfoot td {
	margin: 0;
	padding: 0 0 5px;
}

/************************* 
	Header 
*************************/

#header-wrap {
	background: #FFFFFF;
	margin: 0 auto;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	clear: both;
}
#header {
	width: 960px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	float: none;
	overflow: hidden;
}
#header-left {
	width: 320px;
	height: 100px;
	padding: 26px 0 0 20px;
	float: left;
	overflow: hidden;
}
#title {
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 34px;
	font-weight: normal;
	text-decoration: none;
	
}
#title a, #title a:visited {
	color: #333333;
	text-decoration: none;
}
#title a:hover {
	color: #D54E21;
	text-decoration: none;
}
#tagline {
	margin: 0;
	padding: 8px 0 0;
	color: #888888;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	
}
.logo-image #header #header-left {
	background: none;
	margin: 0px 0 0 0px;
}
.logo-image #header-left, .logo-image #header-left #title, .logo-image #header-left #title a {
	width: 320px;
	height: 100px;
	padding: 0;
	float: left;
	display: block; 
	text-indent: -9999px;
	overflow: hidden;
}
.logo-image #header-left #tagline {
	display: block;
	overflow: hidden;
}
#header-right {
	width: 550px;
	padding: 0px 0px 0 0;
	float: right;
}
#header-right p {
	margin: 0;
	padding: 0 0 5px 0;
}
#header-right h4 {
	margin: 0; 
	padding: 0;
	color: #333333;
	font-size: 12px;
}
#header-right img {
	display: block;
}
.header-left-full-width #header-left, .header-left-full-width #header-left #title, .header-left-full-width #header-left #title a {
	width: 320px;
}

/************************* 
	Navigation 
*************************/

/*** Navbar 1 ***/

#navbar-1-wrap {
	background: #FAFAFA;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	height: 36px;
	margin: 0px 0 0px 0;
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1em;
	clear: both;
	
}
#navbar-1 {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	float: none;
	display: block;
}
#navbar-1-left, #navbar-2-left {
	margin: 0;
	padding: 0;
	float: left;
}
#navbar-1-right, #navbar-2-right {
	margin: 0;
	padding: 0;
	text-transform: none;
	float: right;
}
#navbar-1-right {
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}
#navbar-1-right a, #navbar-1-right a:visited {
	color: #21759B;
	text-decoration: none;
}
#navbar-1-right a:hover {
	color: #D54E21;
	text-decoration: underline;
}
#navbar-1-right.navbar-right-text {
	padding: 10px 10px 0 0;
}
#navbar-1-right.navbar-right-search {
	padding: 4px 4px 0 0;
}
#nav-1, #nav-2 {
	margin: 0;
	padding: 0;
}
#nav-1 ul, #nav-2 ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
#nav-1 li, #nav-2 li {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
#nav-1 li a, #nav-1 li a:link, #nav-1 li a:visited {
	background: #FAFAFA;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	margin: 0 0px 0 0px;
	padding: 11px 15px 11px 15px;
	color: #333333;
	text-decoration: none;
	display: block;
	position: relative;
}
#nav-1 li a:hover, #nav-1 li a:active {
	background: #FFFFFF;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	color: #333333;
	text-decoration: none;
}
#nav-1 li a.sf-with-ul {
	padding-right: 25px;
}
#nav-1 li a .sf-sub-indicator {
	top: 11px;
	right: 15px;
	position: absolute;
	float: right;
	display: block;
	overflow: hidden;
}
#nav-1 li li a .sf-sub-indicator {
	top: 11px;
	right: 10px;
}
#nav-1 li li a, #nav-1 li li a:link, #nav-1 li li a:visited {
	background: #FAFAFA;
	width: 150px;
	border-top: 0;
	border-right: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	margin: 0 0 0 0px;
	padding: 11px 10px 11px 10px;
	color: #333333;
	text-decoration: none;
	float: none;
}
#nav-1 li li a:hover, #nav-1 li li a:active {
	background: #FFFFFF;
	color: #333333;
	text-decoration: none;
}
#nav-1 li ul {
	width: 175px;
	height: auto;
	margin: 0;
	padding: 0;
	z-index: 9999;
	left: -999em;
	position: absolute;
}
#nav-1 li ul ul {
	margin: -37px 0 0 171px;
}
#nav-1 li:hover ul ul, #nav-2 li:hover ul ul, #nav-1 li:hover ul ul ul, #nav-2 li:hover ul ul ul {
	left: -999em;
}
#nav-1 li:hover ul, #nav-1 li.sfHover ul, #nav-2 li:hover ul, #nav-2 li.sfHover ul, #nav-1 li li:hover ul, #nav-2 li li:hover ul, #nav-1 li li li:hover ul, #nav-2 li li li:hover ul {
	left: auto;
}
#nav-1 li:hover, #nav-1 li.sfHover, #nav-2 li:hover, #nav-2 li.sfHover {
	position: static;
}
#nav-1 li.current_page_item a, #nav-1 li.current-menu-item a, #nav-1 li.current-cat a {
	background: #FFFFFF;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	color: #333333;
	text-decoration: none;
}

/*** Navbar 2 ***/

#navbar-2-wrap {
	background: #FFFFFF;
	border-top: 0px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	height: 36px;
	margin: 0px 0 0px 0;
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1em;
	clear: both;
	
}
#navbar-2 {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	float: none;
	display: block;
}
#navbar-2-right {
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}
#navbar-2-right a, #navbar-2-right a:visited {
	color: #21759B;
	text-decoration: none;
}
#navbar-2-right a:hover {
	color: #D54E21;
	text-decoration: underline;
}
#navbar-2-right.navbar-right-text {
	padding: 10px 10px 0 0;
}
#navbar-2-right.navbar-right-search {
	padding: 4px 4px 0 0;
}
#nav-2 li a, #nav-2 li a:link, #nav-2 li a:visited {
	background: #FFFFFF;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	margin: 0px 0px 0px 0px;
	padding: 11px 15px 11px 15px;
	color: #333333;
	text-decoration: none;
	display: block;
	position: relative;
}
#nav-2 li a:hover, #nav-2 li a:active {
	background: #FAFAFA;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	color: #333333;
	text-decoration: none;
}
#nav-2 li a.sf-with-ul {
	padding-right: 25px;
}
#nav-2 li a .sf-sub-indicator {
	top: 11px;
	right: 15px;
	position: absolute;
	float: right;
	display: block;
	overflow: hidden;
}
#nav-2 li li a .sf-sub-indicator {
	top: 11px;
	right: 10px;
}
#nav-2 li li a, #nav-2 li li a:link, #nav-2 li li a:visited {
	background: #FFFFFF;
	width: 150px;
	border-top: 0;
	border-right: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	margin: 0 0 0 0px;
	padding: 11px 10px 11px 10px;
	color: #333333;
	text-decoration: none;
	float: none;
}
#nav-2 li li a:hover, #nav-2 li li a:active {
	background: #FAFAFA;
	color: #333333;
	text-decoration: none;
}
#nav-2 li ul {
	width: 175px;
	height: auto;
	margin: 0;
	padding: 0;
	z-index: 9999;
	left: -999em;
	position: absolute;
}
#nav-2 li ul ul {
	margin: -37px 0 0 171px;
}
#nav-2 li.current_page_item a, #nav-2 li.current-menu-item a, #nav-2 li.current-cat a {
	background: #FAFAFA;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	color: #333333;
	text-decoration: none;
}

/*** Responsive Dropdown Navbars ***/

#dropdown-nav-1-wrap, #dropdown-nav-2-wrap {
	display: none;
}

.nav-1-chosen-select, .nav-2-chosen-select {
	width: 100%;
	margin: 0;
	padding: 7px;
}

.nav-1-chosen-select {
	background: #FAFAFA;
	border: 1px solid #E8E8E8;
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}

.nav-2-chosen-select {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}

/************************* 
	Content 
*************************/

#container-wrap {
	background: #FFFFFF;
	margin: 0;
	padding: 20px 20px 20px 20px;
	clear: both;
}
#container {
	width: 920px;
	margin: 0;
	padding: 0;
	float: left;
}
#content-sidebar-wrap {
	width: 920px;
	float: left;
}
.double-sidebar #content-sidebar-wrap {
	width: 740px;
}
#content-wrap {
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
}
.left-sidebar #content-wrap, .double-left-sidebar #content-wrap, .double-sidebar #content-wrap {
	float: right;
}
.double-sidebar #content-wrap {
	
}
#content-wrap, .left-sidebar #content-wrap, .right-sidebar #content-wrap, .no-sidebar #content-wrap {
	width: 440px;
}
#content {
	margin: 0;
	padding: 0;
	float: left;
	
	
}
.double-left-sidebar #content {
	
}
.right-sidebar #content {
	
}
.left-sidebar #content {
	
}
.double-sidebar #content {
	
}
.no-sidebar #content {
	
}
#content, .left-sidebar #content, .right-sidebar #content, .no-sidebar #content {
	width: 440px;
}
#content img, #content p img {
	max-width: 100%;
	height: auto;
}
#content .nivoSlider img {
    max-width: none;
}
#content .post, #content article {
	background: #FFFFFF;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	margin: 0px 0 20px 0;
	padding: 0px 0px 0px 0px;
}
#content .page {
	background: #FFFFFF;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	margin: 0px 0 20px 0;
	padding: 0px 0px 0px 0px;
}
#content .post p, #content .page p, #content article p {
	margin: 0;
	padding: 0 0 20px;
}
#content .entry-title {
	padding: 5px 0 0;
}
#content .archive-template {
	float: left;
	width: 50%;
	padding: 10px 0;
}
.entry-content p, .entry-content ul li, .entry-content ol li {
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}
.entry-content a, .entry-content a:visited {
	color: #21759B;
	text-decoration: none;
}
.entry-content a:hover {
	color: #D54E21;
	text-decoration: underline;
}
.breadcrumbs, .taxonomy-title-box, .author-title-box {
	background: #FFFFFF;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	margin: 0px 0 20px 0;
	padding: 4px 10px 4px 10px;
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 13px;
	
}
.breadcrumbs a, .breadcrumbs a:visited, .taxonomy-title-box a, .taxonomy-title-box a:visited, .author-title-box a, .author-title-box a:visited {
	color: #21759B;
	text-decoration: none;
}
.breadcrumbs a:hover, .taxonomy-title-box a:hover, .author-title-box a:hover {
	color: #D54E21;
	text-decoration: underline;
}
#content .taxonomy-title-box h1, #content .author-title-box h1 {
	color: #111111;
}

/*** Author Info Box ***/

#entry-author-info {
	background: #FAFAFA;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	margin: 20px 0 30px 0;
	padding: 10px 10px 10px 10px;
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 13px;
	overflow: hidden;
	clear: both;
	
}
#entry-author-info a, #entry-author-info a:visited {
	color: #21759B !important;
	text-decoration: none !important;
}
#entry-author-info a:hover {
	color: #D54E21 !important;
	text-decoration: underline !important;
}
#entry-author-info #author-avatar {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	width: 80px;
	height: 80px;
	margin: 0 10px 0 0;
	padding: 5px;
	float: left;
}
#entry-author-info #author-avatar .avatar {
	width: 80px;
	height: 80px;
}
#entry-author-info #author-description {
	margin: 0;
	padding: 0;
}
#entry-author-info p {
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 0 !important;
	
}

/*** Catalyst Hybrid Loop ***/

.catalyst-hybrid-odd,
.catalyst-hybrid-even{
    float: left;
}
.catalyst-hybrid-odd.catalyst-hybrid-columns {
    clear: both;
}
.catalyst-hybrid-even.catalyst-hybrid-columns {
    float: right;
}
.catalyst-hybrid-odd.catalyst-hybrid-columns,
.catalyst-hybrid-even.catalyst-hybrid-columns {
	width: 48%;
}

/*** Content Headlines ***/

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	margin: 0 0 4px;
	padding: 0;
	font-family: Arial, sans-serif;
	font-weight: normal;
	line-height: 120%;
	
}
#content h1 {
	color: #333333;
	font-size: 22px;
}
#content h2 a, #content h2 a:visited {
	color: #333333;
	text-decoration: none;
}
#content h2 a:hover {
	color: #D54E21;
	text-decoration: none;
}
#content h2 {
	color: #333333;
	font-size: 22px;
}
#content h3 {
	color: #333333;
	font-size: 20px;
}
#content h4 {
	color: #333333;
	font-size: 18px;
}
#content h5 {
	color: #333333;
	font-size: 16px;
}
#content h6 {
	color: #333333;
	font-size: 14px;
}

/*** Sticky Posts ***/

#content .sticky {
	background: #FAFAFA !important;
	border-top: 1px solid #E8E8E8 !important;
	border-bottom: 1px solid #E8E8E8 !important;
	border-left: 0px solid #E8E8E8 !important;
	border-right: 0px solid #E8E8E8 !important;
	margin: 0px 0 30px 0 !important;
	padding: 10px 10px 10px 10px !important;
}

/*** Content UL's/OL's ***/

#content .post ul, #content .page ul, #content article ul, .catalyst-widget-area ul, #content .post ol, #content .page ol, #content article ol, .catalyst-widget-area ol {
	margin: 0;
	padding: 0 0 15px 0;
}
#content .post ul li, #content .page ul li, #content article ul li, #content .post ol li, #content .page ol li, #content article ol li, .catalyst-widget-area ul li, .catalyst-widget-area ol li {
	margin: 0 0 0 20px;
	padding: 0 0 0px;
}
#content .post ul li, #content .page ul li, #content article ul li, .catalyst-widget-area ul li {
	margin: 0 0 0 20px;
	list-style-type: square;
}
#content .post ul ul, #content .page ul ul, #content article ul ul, .catalyst-widget-area ul ul {
	padding: 0 0 0 20px;
}
#content .post ol ol, #content .page ol ol, #content article ol ol, .catalyst-widget-area ol ol {
	padding: 0;
}

/*** Blockquote ***/

#content blockquote {
	background: #FAFAFA;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	margin: 0 25px 15px 25px;
	padding: 10px 15px 0 15px;
}
#content blockquote p {
	color: #111111 !important;
	font-family: Arial, sans-serif !important;
	font-size: 14px !important;
	
}
#content blockquote a, #content blockquote a:visited {
	color: #21759B !important;
	text-decoration: none !important;
}
#content blockquote a:hover {
	color: #D54E21 !important;
	text-decoration: underline !important;
}

/*** Meta Classes ***/

.byline-meta {
	width: 100%;
	margin: 0 0 8px;
	color: #888888;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 120%;
	
}
.byline-meta a, .byline-meta a:visited {
	color: #888888;
	text-decoration: none;
}
.byline-meta a:hover {
	color: #888888;
	text-decoration: underline;
}
.post-meta {
	border-top: 1px solid #E8E8E8;
	margin: 5px 0 0;
	padding: 5px 0 0;
	font-style: italic;
	clear: both;
}
.post-meta p {
	color: #333333 !important;
	font-family: Arial, sans-serif !important;
	font-size: 14px !important;
	
}
.post-meta a, .post-meta a:visited {
	color: #21759B !important;
	text-decoration: none !important;
}
.post-meta a:hover {
	color: #D54E21 !important;
	text-decoration: underline !important;
}

/*** Post Navigation ***/

.post-nav {
	width: 100%;
	margin: 0;
	padding: 0px 0 0px 0;
	overflow: hidden;
}
.post-nav ul {
	margin: 10px 0;
	padding: 0;
	list-style-type: none;
}
.post-nav li {
	display: inline;
}
.post-nav a, .post-nav a:visited {
	color: #21759B;
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-decoration: none;
	
}
.post-nav a:hover {
	color: #D54E21;
	text-decoration: underline;
}
.post-nav li a, .post-nav li a:visited, .post-nav li.disabled, .post-nav li a:hover, .post-nav li.active a {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin: 0 0px 0 0px;
	padding: 6px 10px 6px 10px;
	color: #21759B;
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-decoration: none;
	
}
.post-nav li.active a, .post-nav li a:hover {
	background: #FAFAFA;
	color: #D54E21;
	text-decoration: none;
}
.post-nav li a:hover {
	text-decoration: underline;
}

/*** Catalyst Widget Areas ***/

.catalyst-widget-area {
	background: #FFFFFF;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	
	float: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}
.catalyst-widget-area h4 {
	padding: 0 0 5px !important;
	color: #111111 !important;
	font-family: Arial, sans-serif !important;
	font-size: 18px !important;
	font-weight: normal;
	line-height: 120%;
	
}
.catalyst-widget-area a, .catalyst-widget-area a:visited {
	color: #21759B !important;
	text-decoration: none !important;
}
.catalyst-widget-area a:hover {
	color: #D54E21 !important;
	text-decoration: underline !important;
}
.catalyst-widget-area #wp-calendar caption, .catalyst-widget-area #wp-calendar th {
	color: #111111;
}

/*** Catalyst Excerpt Widget ***/

.catalyst-excerpt-widget, #content .catalyst-excerpt-widget {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}
.catalyst-excerpt-widget .entry-content p {
	color: #111111 !important;
	font-family: Arial, sans-serif !important;
	font-size: 14px !important;
	
}
.catalyst-excerpt-widget .entry-content a, .catalyst-excerpt-widget .entry-content a:visited {
	color: #21759B !important;
	text-decoration: none !important;
}
.catalyst-excerpt-widget .entry-content a:hover {
	color: #D54E21 !important;
	text-decoration: underline !important;
}
.catalyst-excerpt-widget h2 {
	margin: 0 0 5px;
	padding: 0;
	color: #333333 !important;
	font-family: Arial, sans-serif !important;
	font-size: 18px !important;
	font-weight: normal;
	line-height: 120%;
	
}
.catalyst-excerpt-widget h2 a, .catalyst-excerpt-widget h2 a:visited {
	color: #333333 !important;
	text-decoration: none !important;
}
.catalyst-excerpt-widget h2 a:hover {
	color: #D54E21 !important;
	text-decoration: none !important;
}
.catalyst-excerpt-widget .byline-meta {
	color: #888888;
	font-family: Arial, sans-serif;
	font-size: 12px;
	
}
.catalyst-excerpt-widget .byline-meta a, .catalyst-excerpt-widget .byline-meta a:visited {
	color: #888888 !important;
	text-decoration: none !important;
}
.catalyst-excerpt-widget .byline-meta a:hover {
	color: #888888 !important;
	text-decoration: underline !important;
}

/*** Catalyst 125 Ad Widget ***/

#catalyst-125-ads {
	width: 270px;
	margin: 10px auto 0;
	padding: 0 0 5px;
}
.catalyst-125-ads-inner {
	margin-top: 5px;
}
#catalyst-125-ads span, .catalyst-125-ads-inner span {
	padding: 0 5px;
}

/*** EZ Column Styles ***/

.ez-five-sixths,
.ez-four-fifths,
.ez-four-sixths,
.ez-one-fifth,
.ez-one-fourth,
.ez-one-half,
.ez-one-sixth,
.ez-one-third,
.ez-three-fifths,
.ez-three-fourths,
.ez-three-sixths,
.ez-two-fifths,
.ez-two-fourths,
.ez-two-sixths,
.ez-two-thirds {
	padding-left: 3%;
	float: left;
}
.ez-one-half,
.ez-three-sixths,
.ez-two-fourths {
	width: 48%;
}
.ez-one-third,
.ez-two-sixths {
	width: 31%;
}
.ez-four-sixths,
.ez-two-thirds {
	width: 65%;
}
.ez-one-fourth {
	width: 22.5%;
}
.ez-three-fourths {
	width: 73.5%;
}
.ez-one-fifth {
	width: 17.4%;
}
.ez-two-fifths {
	width: 37.8%;
}
.ez-three-fifths {
	width: 58.2%;
}
.ez-four-fifths {
	width: 78.6%;
}
.ez-one-sixth {
	width: 14%;
}
.ez-five-sixths {
	width: 82%;
}
.ez-first {
	padding-left: 0 !important;
	clear: both;
}
.ez-only {
	width: 100%;
	padding-left: 0 !important;
	float: left;
}
.ez-row-wrap {
	width: 100%;
	margin-bottom: 20px;
	float: left;
	clear: both;
}
.ez-row-wrap-border {
	border-bottom: 1px solid #E8E8E8;
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 15px;
	float: left;
	clear: both;
}

/************************* 
	EZ Widget Areas
*************************/

/*** EZ Widget Area Class ***/

.ez-widget-area h4 {
	border-bottom: 1px solid #E8E8E8;
	margin: 0 0 10px;
	padding: 0 0 5px;
	color: #111111;
	font-size: 18px;
	font-weight: normal;
}
.ez-widget-area ul, .ez-widget-area ol {
	margin: 0;
	padding: 0 0 15px 0;
}
.ez-widget-area ul li, .ez-widget-area ol li {
	margin: 0 0 0 20px;
	padding: 0;
}
.ez-widget-area ul li {
	list-style-type: square;
}
.ez-widget-area ul ul, .ez-widget-area ol ol {
	padding: 0;
}

/*** EZ Home Widget Areas ***/

#home-hook-wrap {
	background: #FFFFFF;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	padding: 20px 20px 20px 20px;
	clear: both;
}
#ez-home-container-wrap .post {
	margin: 0 0 20px;
}
#ez-home-container-wrap .post p {
	padding: 0 0 20px;
}
#ez-home-container-wrap .page p {
	padding: 0 0 20px;
}
#ez-home-container-wrap .ez-widget-area img.wp-post-image {
	margin-bottom: 10px !important;
}
#ez-home-container-wrap .ez-widget-area h4 {
	border-bottom: 1px solid #E8E8E8;
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 18px;
	
}
#ez-home-container-wrap .ez-widget-area {
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}
#ez-home-container-wrap .ez-widget-area a, #ez-home-container-wrap .ez-widget-area a:visited {
	color: #21759B;
	text-decoration: none;
}
#ez-home-container-wrap .ez-widget-area a:hover {
	color: #D54E21;
	text-decoration: underline;
}
#ez-home-container-wrap .ez-widget-area #wp-calendar caption, #ez-home-container-wrap .ez-widget-area #wp-calendar th {
	color: #111111;
}
#ez-home-container-wrap img, #ez-home-container-wrap p img {
	max-width: 100%;
	height: auto;
}
#ez-home-container-wrap .nivoSlider img {
    max-width: none;
}
body.ez-home-sidebar #ez-home-container-wrap {
	width: 620px;
	padding-right: 20px;
	float: left;
}
body.ez-home-sidebar.home-sidebar-left #ez-home-container-wrap {
	padding-left: 20px;
	padding-right: 0;
	float: right;
}
#ez-home-top-container .ez-widget-area,
#ez-home-middle-container .ez-widget-area,
#ez-home-bottom-container .ez-widget-area {
	width: 286.666666667px;
	padding-left: 29px;
}
body.home-top-single #ez-home-top-container .ez-widget-area,
body.home-middle-single #ez-home-middle-container .ez-widget-area,
body.home-bottom-single #ez-home-bottom-container .ez-widget-area {
	width: 920px;
}
body.home-top-double #ez-home-top-container .ez-widget-area,
body.home-middle-double #ez-home-middle-container .ez-widget-area,
body.home-bottom-double #ez-home-bottom-container .ez-widget-area {
	width: 445px;
}
body.ez-home-wide-left-2-3 #ez-home-top-1, body.ez-home-wide-right-2-3 #ez-home-top-2,
body.ez-home-wide-left-2-3-3 #ez-home-top-1, body.ez-home-wide-right-2-3-3 #ez-home-top-2,
body.ez-home-wide-left-3-2 #ez-home-bottom-1, body.ez-home-wide-right-3-2 #ez-home-bottom-2,
body.ez-home-wide-left-3-2-3 #ez-home-middle-1, body.ez-home-wide-right-3-2-3 #ez-home-middle-2,
body.ez-home-wide-left-3-3-2 #ez-home-bottom-1, body.ez-home-wide-right-3-3-2 #ez-home-bottom-2 {
	width: 602.333333333px;
}
body.ez-home-sidebar #ez-home-top-container .ez-widget-area,
body.ez-home-sidebar #ez-home-middle-container .ez-widget-area,
body.ez-home-sidebar #ez-home-bottom-container .ez-widget-area {
	width: 186.666666667px;
}
body.home-top-single.ez-home-sidebar #ez-home-top-container .ez-widget-area,
body.home-middle-single.ez-home-sidebar #ez-home-middle-container .ez-widget-area,
body.home-bottom-single.ez-home-sidebar #ez-home-bottom-container .ez-widget-area {
	width: 620px;
}
body.home-top-double.ez-home-sidebar #ez-home-top-container .ez-widget-area,
body.home-middle-double.ez-home-sidebar #ez-home-middle-container .ez-widget-area,
body.home-bottom-double.ez-home-sidebar #ez-home-bottom-container .ez-widget-area {
	width: 295px;
}
body.ez-home-wide-left-2-3.ez-home-sidebar #ez-home-top-1, body.ez-home-wide-right-2-3.ez-home-sidebar #ez-home-top-2,
body.ez-home-wide-left-2-3-3.ez-home-sidebar #ez-home-top-1, body.ez-home-wide-right-2-3-3.ez-home-sidebar #ez-home-top-2,
body.ez-home-wide-left-3-2.ez-home-sidebar #ez-home-bottom-1, body.ez-home-wide-right-3-2.ez-home-sidebar #ez-home-bottom-2,
body.ez-home-wide-left-3-2-3.ez-home-sidebar #ez-home-middle-1, body.ez-home-wide-right-3-2-3.ez-home-sidebar #ez-home-middle-2,
body.ez-home-wide-left-3-3-2.ez-home-sidebar #ez-home-bottom-1, body.ez-home-wide-right-3-3-2.ez-home-sidebar #ez-home-bottom-2 {
	width: 402.333333333px;
}
.ez-home-container-area {
	margin: 0 0 20px;
	overflow: hidden;
}
.ez-home-bottom {
	margin: 0;
}

/*** Homepage Slider Styles ***/

#ez-home-slider-container-wrap {
	margin: 0 0 20px;
	overflow: hidden;
}
#ez-home-slider-container-wrap, #ez-home-slider {
	width: 920px;
}
body.child_home #ez-home-slider-container-wrap, body.child_home #ez-home-slider {
	width: 920px;
}
body.slider-inside.ez-home-sidebar #ez-home-slider-container-wrap,
body.slider-inside.ez-home-sidebar #ez-home-slider {
	width: 620px;
}
body.double-left-sidebar.slider-inside #ez-home-slider-container-wrap,
body.double-right-sidebar.slider-inside #ez-home-slider-container-wrap,
body.double-sidebar.slider-inside #ez-home-slider-container-wrap,
body.left-sidebar.slider-inside #ez-home-slider-container-wrap,
body.right-sidebar.slider-inside #ez-home-slider-container-wrap,
body.no-sidebar.slider-inside #ez-home-slider-container-wrap,
body.double-left-sidebar.slider-inside #ez-home-slider,
body.double-right-sidebar.slider-inside #ez-home-slider,
body.double-sidebar.slider-inside #ez-home-slider,
body.left-sidebar.slider-inside #ez-home-slider,
body.right-sidebar.slider-inside #ez-home-slider,
body.no-sidebar.slider-inside #ez-home-slider {
	width: 440px;
}
body.double-left-sidebar.slider-inside #ez-home-slider-container-wrap {
	
}
body.double-right-sidebar.slider-inside #ez-home-slider-container-wrap {
	
}
body.double-sidebar.slider-inside #ez-home-slider-container-wrap {
	
}
body.left-sidebar.slider-inside #ez-home-slider-container-wrap {
	
}
body.right-sidebar.slider-inside #ez-home-slider-container-wrap {
	
}
#ez-home-slider {
	width: 100%;
	height: 300px;
}
#ez-home-slider .nivoSlider img {
    max-width: none;
}

/*** Homepage Sidebar Styles ***/

#ez-home-sidebar-1-wrap {
	width: 280px;
	
	float: right;
}
body.home-sidebar-left #ez-home-sidebar-1-wrap {
	
	
	float: left;
}
#ez-home-sidebar-1 #cat, #ez-home-sidebar-1 .widget_archive select {
	width: 258px;
}

/*** EZ Feature Top Widget Areas ***/

#ez-feature-top-container-wrap {
	background: #FFFFFF;
	border-top: 0px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
}
#ez-feature-top-container {
	width: 920px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
}
#ez-feature-top-container .ez-widget-area h4 {
	border-bottom: 1px solid #E8E8E8;
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 18px;
	
}
#ez-feature-top-container .ez-widget-area {
	width: 286.666666667px;
	padding-left: 29px;
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}
#ez-feature-top-container .ez-widget-area a, #ez-feature-top-container .ez-widget-area a:visited {
	color: #21759B;
	text-decoration: none;
}
#ez-feature-top-container .ez-widget-area a:hover {
	color: #D54E21;
	text-decoration: underline;
}
#ez-feature-top-container .ez-widget-area #wp-calendar caption, #ez-feature-top-container .ez-widget-area #wp-calendar th {
	color: #111111;
}
#ez-feature-top-container img, #ez-feature-top-container p img {
	max-width: 100%;
	height: auto;
}
#ez-feature-top-container .nivoSlider img {
    max-width: none;
}
body.ez-feature-top-1 #ez-feature-top-container .ez-widget-area {
	width: 920px;
}
body.ez-feature-top-2 #ez-feature-top-container .ez-widget-area {
	width: 445px;
}
body.ez-feature-top-4 #ez-feature-top-container .ez-widget-area {
	width: 208px;
}
body.ez-feature-top-wide-left-2 #ez-feature-top-1.ez-widget-area, body.ez-feature-top-wide-right-2 #ez-feature-top-2.ez-widget-area {
	width: 602.333333333px;
}

/*** EZ Fat Footer Widget Areas ***/

#ez-fat-footer-container-wrap, .fat-footer-outside #ez-fat-footer-container-wrap {
	background: #FAFAFA;
	border-top: 0px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
}
#ez-fat-footer-container-wrap {
	margin: 0 0 5px;
}
.fat-footer-outside #ez-fat-footer-container-wrap {
	margin: 0;
}
#ez-fat-footer-container {
	padding: 15px 20px 20px 20px;
}
#ez-fat-footer-container .ez-widget-area h4 {
	border-bottom: 1px solid #E8E8E8;
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 18px;
	
}
#ez-fat-footer-container .ez-widget-area {
	width: 286.666666667px;
	padding-left: 29px;
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}
#ez-fat-footer-container .ez-widget-area a, #ez-fat-footer-container .ez-widget-area a:visited {
	color: #21759B;
	text-decoration: none;
}
#ez-fat-footer-container .ez-widget-area a:hover {
	color: #D54E21;
	text-decoration: underline;
}
#ez-fat-footer-container .ez-widget-area #wp-calendar caption, #ez-fat-footer-container .ez-widget-area #wp-calendar th {
	color: #111111;
}
#ez-fat-footer-container img, #ez-fat-footer-container p img {
	max-width: 100%;
	height: auto;
}
#ez-fat-footer-container .nivoSlider img {
    max-width: none;
}
body.ez-fat-footer-1 #ez-fat-footer-container .ez-widget-area {
	width: 920px;
}
body.ez-fat-footer-2 #ez-fat-footer-container .ez-widget-area {
	width: 445px;
}
body.ez-fat-footer-4 #ez-fat-footer-container .ez-widget-area {
	width: 208px;
}
body.ez-fat-footer-wide-left-2 #ez-fat-footer-1.ez-widget-area, body.ez-fat-footer-wide-right-2 #ez-fat-footer-2.ez-widget-area {
	width: 602.333333333px;
}

/************************* 
	Sidebars
*************************/

#dual-sidebar-outer {
	width: 460px;
	
	float: right;
}
.double-left-sidebar #dual-sidebar-outer {
	
	
	float: left;
}
#dual-sidebar-inner {
	width: 100%;
	float: left;
}
#sidebar-1-wrap {
	width: 280px;
	float: left;
}
.right-sidebar #sidebar-1-wrap {
	
	float: right;
}
.left-sidebar #sidebar-1-wrap {
	
}
.double-sidebar #sidebar-1-wrap {
	
}
#sidebar-2-wrap {
	width: 160px;
	float: right;
}
.double-sidebar #sidebar-2-wrap {
	;
}
#sidebar-1 {
	width: 280px;
	margin: 0;
	padding: 0;
}
#sidebar-2 {
	width: 160px;
	margin: 0;
	padding: 0;
}
#sidebar-1 .widget, #sidebar-2 .widget, #ez-home-sidebar-1 .widget {
	margin: 0 0 15px;
	padding: 0;
	clear: both;
}
#sidebar-1, #sidebar-2, #ez-home-sidebar-1 {
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}
#sidebar-1 a, #sidebar-1 a:visited, #sidebar-2 a, #sidebar-2 a:visited, #ez-home-sidebar-1 a, #ez-home-sidebar-1 a:visited {
	color: #21759B;
	text-decoration: none;
}
#sidebar-1 a:hover, #sidebar-2 a:hover, #ez-home-sidebar-1 a:hover {
	color: #D54E21;
	text-decoration: underline;
}
#sidebar-1 .widget, #sidebar-2 .widget, #ez-home-sidebar-1 .widget {
	background: #FFFFFF;
	border-top: 0px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	margin: 0px 0 15px 0;
}
#sidebar-1 h4, #sidebar-2 h4, #ez-home-sidebar-1 h4 {
	background: #FAFAFA;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	margin: 0;
	padding: 4px 5px 4px 10px;
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	
}
#sidebar-1 .widget p, #sidebar-2 .widget p, #ez-home-sidebar-1 .widget p {
	margin: 0;
	padding: 0;
}
#sidebar-1 .textwidget, #sidebar-2 .textwidget, #sidebar-1 .php-textwidget, #sidebar-2 .php-textwidget, #sidebar-1 .widget_tag_cloud div div, #sidebar-2 .widget_tag_cloud div div, #sidebar-1 .catalyst-excerpt-widget-inner, #sidebar-2 .catalyst-excerpt-widget-inner, #sidebar-1 .author-bio-widget, #sidebar-2 .author-bio-widget,
#ez-home-sidebar-1 .textwidget, #ez-home-sidebar-1 .php-textwidget, #ez-home-sidebar-1 .widget_tag_cloud div div, #ez-home-sidebar-1 .catalyst-excerpt-widget-inner, #ez-home-sidebar-1 .author-bio-widget {
	padding: 10px 10px 10px 10px;
}
#sidebar-1 #wp-calendar caption, #sidebar-2 #wp-calendar caption, #sidebar-1 #wp-calendar th, #sidebar-2 #wp-calendar th, #ez-home-sidebar-1 #wp-calendar caption, #ez-home-sidebar-1 #wp-calendar th {
	color: #111111;
}
#cat, .widget_archive select, #sidebar-1 .widget_archive select, #sidebar-2 .widget_archive select, #ez-home-sidebar-1 .widget_archive select {
	background: #F6F6F6;
	border: 1px solid #E8E8E8;
	margin: 10px 0 10px 10px;
	padding: 3px;
	font-size: 12px;
	display: inline;
}
#sidebar-1 #cat, #sidebar-1 .widget_archive select {
	width: 258px;
}
#sidebar-2 #cat, #sidebar-2 .widget_archive select {
	width: 138px;
}
#sidebar-1 a img, #sidebar-2 a img, #ez-home-sidebar-1 a img {
	border: none;
	margin: 0;
	padding: 0;
}
#sidebar-1 ul li, #sidebar-2 ul li, #ez-home-sidebar-1 ul li {
	list-style-type: square;
}
#sidebar-1 ol li, #sidebar-2 ol li, #ez-home-sidebar-1 ol li {
	list-style-type: decimal;
}
#sidebar-1 ul, #sidebar-1 ol, #sidebar-2 ul, #sidebar-2 ol, #ez-home-sidebar-1 ul, #ez-home-sidebar-1 ol {
	margin: 0;
	padding: 10px 10px 10px 25px;
}
#sidebar-1 .searchform, #sidebar-2 .searchform, #ez-home-sidebar-1 .searchform {
	padding: 0 10px 0 10px;
}
#sidebar-1 ul ul, #sidebar-1 ol ol, #sidebar-2 ul ul, #sidebar-2 ol ol, #ez-home-sidebar-1 ul ul, #ez-home-sidebar-1 ol ol {
	margin: 0;
	padding: 0 0 0 15px;
}

/*** Sidebar Pages Widget ***/

.widget_pages {
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}
.widget_pages a, .widget_pages a:visited {
	color: #21759B !important;
	text-decoration: none !important;
}
.widget_pages a:hover {
	color: #D54E21 !important;
	text-decoration: underline !important;
}


/************************* 
	Comments
*************************/

#comment-wrap {
	background: #FFFFFF;
	border: 0px solid #E8E8E8;
	margin: 0px 0 0px 0;
	padding: 0px 0px 0px 0px;
}
#comment, #author, #email, #url {
	margin: 10px 0 5px;
	padding: 3px 0 3px 5px;
	font-weight: normal;
	display: inline;
}
#author, #email, #url {
	margin: 10px 0 0;
}
#respond {
	display: block;
}
#respond:after {
	visibility: hidden;
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	content: " ";
	clear: both;
}
#commentform {
	margin: 5px 10px 0 0;
}
#commentform #author, #commentform #email, #commentform #url {
	width: 200px;
}
#commentform textarea {
	width: 100%;
}
#commentform textarea, #commentform #author, #commentform #email, #commentform #url {
	background: #FAFAFA;
	border: 1px solid #E8E8E8;
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 13px;
	
}
#commentform p {
	margin: 5px 0;
}
#commentform #submit {
	background: #FAFAFA;
	border: 1px solid #E8E8E8;
	width: 110px;
	padding: 3px 3px 3px 3px;
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 13px;
	float: left;
	cursor: pointer;
	text-decoration: none;
	
}
#commentform #submit:hover {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	color: #111111;
	text-decoration: none;
}
#commentform input {
	width: 200px;
	margin: 5px 5px 1px 0;
	padding: 2px;
}
.commentlist li .avatar {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	width: 60px;
	height: 60px;
	margin: 0 5px 0 10px;
	padding: 4px;
	float: right;
}
.commentlist cite, .commentlist cite a, .commentlist .says {
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
}
.commentlist p {
	margin: 10px 5px 10px 0;
	font-weight: normal;
	text-transform: none;
}
.commentlistmetadata {
	font-weight: normal;
}
.comment-body-text, .commentlist p, .reply, #respond p {
	color: #111111;
	font-family: Arial, sans-serif;
	font-size: 13px;
	
}
#reply-title, .comment-heading {
	color: #333333 !important;
	font-family: Arial, sans-serif !important;
	font-size: 18px !important;
	
}
.comment-author {
	color: #111111;
	font-family: Arial, sans-serif;
}
.comment-author cite a, .comment-author cite a:visited {
	color: #21759B;
	text-decoration: none;
}
.comment-author cite a:hover {
	color: #D54E21;
	text-decoration: underline;
}
.comment-author cite, .comment-author cite a, .comment-author .says {
	font-size: 13px;
	
}
.commentmetadata {
	color: #21759B;
	font-family: Arial, sans-serif;
	font-size: 12px;
	
}
.commentmetadata a, .commentmetadata a:visited {
	color: #21759B !important;
	text-decoration: none !important;
}
.commentmetadata a:hover {
	color: #D54E21 !important;
	text-decoration: underline !important;
}
.commentlist a, .commentlist a:visited, .comments-nav a, .comments-nav a:visited, #respond a, #respond a:visited {
	color: #21759B;
	text-decoration: none;
}
.commentlist a:hover, .comments-nav a:hover, #respond a:hover {
	color: #D54E21;
	text-decoration: underline;
}
.comment-list, .children {
	margin: 0;
	padding: 0;
}
.commentlist ol {
	padding: 10px;
}
.commentlist li {
	margin: 15px 0 10px 0;
	padding: 10px 5px 10px 10px;
	list-style: none;
}
.commentlist li ul li {
	background: #FAFAFA;
	margin-left: 10px;
	margin-right: -5px;
}
.nocomments {
	text-align: center;
}
.comments-nav {
	margin: 10px 0 40px 0;
}
.thread-even {
	background: #FFFFFF;
}
.thread-odd {
	background: #FFFFFF;
}
.even, .alt {
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
}
.commentlist .depth-2, .commentlist .depth-3, .commentlist .depth-4, .commentlist .depth-5, .commentlist .depth-6 {
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0;
}

/************************* 
	Footer
*************************/

#footer-wrap {
	background: #FAFAFA;
	border-top: 1px solid #E8E8E8;
	border-bottom: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	margin: 0 auto;
	clear: both;
}
#footer {
	width: 960px;
	height: auto;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	clear: both;
	float: none;
	display: block;
}
#footer p.footer-content {
	color: #888888;
	font-family: Arial, sans-serif;
	font-size: 14px;
	
}
#footer .footer-content a, #footer .footer-content a:visited {
	color: #888888;
	text-decoration: none;
}
#footer .footer-content a:hover {
	color: #555555;
	text-decoration: none;
}
.footer-left {
	padding: 0px 20px 0px 20px !important;
	float: left;
}
.footer-right {
	padding: 0px 20px 0px 20px !important;
	float: right;
}
.footer-center {
	padding: 0px 0px 0px 0px !important;
	text-align: center;
	clear: both;
}
.catalyst-attribute {
	font-style: italic;
}

/************************* 
	Custom Layout Dimensions
*************************/
